{<<"app">>,<<"cuttlefish">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"cuttlefish configuration abstraction">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/erlang_vm.schema">>,
  <<"rebar.config">>,<<"rebar.config.script">>,<<"rebar.lock">>,
  <<"src/conf_parse.erl">>,<<"src/conf_parse.peg">>,
  <<"src/cuttlefish.app.src">>,<<"src/cuttlefish.erl">>,
  <<"src/cuttlefish_advanced.erl">>,<<"src/cuttlefish_bytesize.erl">>,
  <<"src/cuttlefish_conf.erl">>,<<"src/cuttlefish_datatypes.erl">>,
  <<"src/cuttlefish_duration.erl">>,<<"src/cuttlefish_duration.hrl">>,
  <<"src/cuttlefish_duration_parse.erl">>,
  <<"src/cuttlefish_duration_parse.peg">>,<<"src/cuttlefish_effective.erl">>,
  <<"src/cuttlefish_enum.erl">>,<<"src/cuttlefish_error.erl">>,
  <<"src/cuttlefish_escript.erl">>,<<"src/cuttlefish_flag.erl">>,
  <<"src/cuttlefish_generator.erl">>,<<"src/cuttlefish_mapping.erl">>,
  <<"src/cuttlefish_rebar_plugin.erl">>,<<"src/cuttlefish_schema.erl">>,
  <<"src/cuttlefish_translation.erl">>,<<"src/cuttlefish_unit.erl">>,
  <<"src/cuttlefish_util.erl">>,<<"src/cuttlefish_validator.erl">>,
  <<"src/cuttlefish_variable.erl">>,<<"src/cuttlefish_vmargs.erl">>,
  <<"src/lager_stderr_backend.erl">>]}.
{<<"licenses">>,[<<"Apache">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/Kyorai/cuttlefish">>}]}.
{<<"name">>,<<"cuttlefish">>}.
{<<"requirements">>,
 [{<<"getopt">>,
   [{<<"app">>,<<"getopt">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>1.0.2">>}]},
  {<<"lager">>,
   [{<<"app">>,<<"lager">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>3.8.0">>}]}]}.
{<<"version">>,<<"2.6.0">>}.
